body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.login-form {
  position: absolute;
  margin-left: calc(50% - 300px);
  margin-top: 5%;
  width: 600px;
  padding: 1%;
  background-color: #fff;
}

.login-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.long {
  background-color: rgb(238, 206, 203);
}

.short {
  background-color: rgb(207, 240, 228);
}

.login-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  cursor: pointer;
  border: 1px solid rgb(76, 76, 76);
}

.login-space {
  width: 3%;
}

.login-icon {
  height: 32px;
  width: 32px;
}

.login-text {
  width: auto;
  text-align: center;
}

.login-text:hover {
  text-decoration: underline;
}

.user-item {
  left: 10%;
  text-align: left;
  overflow: auto;
  padding: 1%;
  border: 1px solid rgb(37, 37, 37);
  background-color: aliceblue;
}
