.headerWrp {
  background-color: white;
  padding-top: 0.75em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid gray;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn {
  font-size: 18;
  font-weight: 600;
}

.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}
