:global(.ui.basic.label).toolbarBtn {
  border: 1px solid gray;
  background-color: rgb(235, 206, 168);
  margin-left: 4vwpx;
  min-width: 80px;
}

:global(.ui.image).postImage {
  width: -moz-fit-content;
  width: 40px;
  height: 40px;
}

.usercard {
  background-color: #eed;
  padding: 3px;
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
}

.usercardTitle {
  background-color: #eed;
  padding: 3px;
  border: 1px solid gray;
  border-radius: 3px;
  cursor: default;
}

.userEditCard {
  padding-top: 10px;
  overflow-y: auto;
  height: calc(100vh - 105px);
}

:global(.ui.input).profInput {
  width: 20vw;
}

.profText {
  width: 40vw;
}

:global(.ui.input).profPass {
  width: calc(17vw - 5px);
}

:global(.ui.button).profButton {
  width: 3vw;
  margin-left: 3px;
  background-color: cyan;
}

.nameSpan {
  font-size: 18;
  font-weight: 600;
  display: block;
  width: 180px;
  margin-left: 10px;
}

.textSpan {
  font-size: 16;
  font-weight: 300;
  display: block;
  width: 120px;
  margin-left: 10px;
}

.textWordSpan {
  font-size: 16;
  font-weight: 300;
  display: block;
  width: 20vw;
  margin-left: 10px;
}

.textSpanBlock {
  font-size: 16;
  font-weight: 300;
  display: block;
  width: 150px;
  margin-left: 10px;
}

.textSpanRegg {
  font-size: 16;
  font-weight: 300;
  display: block;
  width: 180px;
  margin-left: 10px;
}

.textSpanCentre {
  font-size: 16;
  font-weight: 300;
  display: block;
  width: 180px;
  margin-left: 10px;
  text-align: center;
}

.textSpanSensay {
  font-size: 16;
  font-weight: 300;
  margin-left: 50px;
}

.headerWrp {
  background-color: white;
  padding-top: 0.75em;
  padding-bottom: 0.5em;
  border-top: 1px solid gray;
}

.logoutBtn:hover {
  box-shadow: 3px;
  background-color: '#fff';
}

.menuBtn {
  cursor: pointer;
  margin-left: 50px;
  width: 150px;
  font-size: 18;
  font-weight: 600;
}
